#custom-archlogo {

    

    color: #cfc7ed;
    box-shadow: 1px 2px 3px black;
    padding: 0 30px;
    margin: 5px 0;
    border-radius: 5px;
    background: rgb(58, 55, 64);
    background: linear-gradient(
        90deg,
        rgba(58, 55, 64, 1) 0%,
        rgba(42, 40, 46, 1) 13%,
        rgba(80, 73, 93, 1) 23%,
        rgba(66, 58, 75, 1) 32%,
        rgba(215, 192, 237, 1) 48%,
        rgba(95, 79, 110, 1) 63%,
        rgba(69, 60, 89, 1) 76%,
        rgba(43, 39, 48, 1) 88%,
        rgba(18, 17, 18, 1) 100%
    );
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    transition: all 0.3s cubic-bezier(0.55, 0.68, 0.48, 1.682);

    background-image: url('/home/spooders/.config/waybar/archtransparent.png');


    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-size: contain;
    background-repeat: repeat;
    background-position: center;

}


#custom-archlogo {

    background-image: url('/home/spooders/.config/waybar/archtransparent.png');


    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    
}

#custom-archlogo {

    background-image: 
        url('/home/spooders/.config/waybar/offcenterarchtransparent.png'),
        linear-gradient(
            90deg,
            #e5ffd7 5%,   /* Pink Light */
            #b9d1ac 10%,   /* Pink Light */
            #ff93d6 25%,   /* Pink Dark */
            #5c54d2 35%,    /* Blue */
            #4058c0 45%,   /* Darker Blue */
            #e5e8ff 50%,   /* Purple */
            #b091bb 65%,   /* Purple Light */
            #d4aaff 80%   /* Purple */
        );
    background-size: contain, 400% 400%;
    background-repeat: repeat, repeat;

    animation: gradient 15s ease-in-out infinite;


}